@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (@ViewContext.ViewData.ModelState.IsValid)
    {
        ViewBag.Title = "Buyer Stock Report";
    }
}
<h1 class="centeredText">Buyer Stock Report</h1>
<h4 class="centeredText">Please choose SKU or Suppliername</h4>
<div class="CenteredDiv">
    <div class="radio_btn_position">
        @Html.RadioButton("Answer", "A", new { @class = "ButtonA" }) <span>SKU Number</span>
        @Html.RadioButton("Answer", "B", new { @class = "ButtonB" }) <span>Supplier Name</span>
        </div>
        <div id="SelectionDiv">
            <div class="InvisibleDiv" id="SkuDiv">
                <input type="number" name="skuInput" id="SkuInput" max="999999" value="508358">
            </div>
            <div class="HiddenDiv" id="SupplierDiv">
                @Html.DropDownList("SuppliersAvailable")
            </div>
        </div>
        <div id="DateDiv2">
            <input type="date" class="dateInput" id="startDate" name="startDate" min="2015-08-27" value="@ViewBag.TodaysDate">
            <input type="date" class="dateInput" id="endDate" name="endDate" min="2015-08-27" value="@ViewBag.TodaysDate">
        </div>

        <button class="generateButton" id="GenerateButton" onclick="GenerateBuyerGodReport()">Generate Report</button>
        <button class="generateButton RedButton" id="GenerateButtonAll" onclick="RequestAndGenerateFullreport()">All Suppliers(Full Report)</button>

        <a id="dlink" style="display:none;"></a>

        <div class="" id="ExportDiv">
            <input class="generateButton" type="button" onclick="tableToExcel('DisplayTable', 'Buyer Stock Report', '.xls')" value="Export to Excel">
        </div>

        <div class="InvisibleDiv errorDiv" id="ErrorDiv">
            Please compleate required information
        </div>
        <div class="InvisibleDiv errorDiv" id="SkuErrorDiv">
            Sku must be 6 Digits long.
        </div>
        <div class="InvisibleDiv" id="LoadingDiv">
            <img src="~/Content/Images/ajax-loader.gif" />

            <div>
                <div id="CurrentLoading2"></div>
                <div id="NumberLoading2"></div>
            </div>
        </div>
    </div>
<div id="TableArea">
    <div id="swipe_text_wrap">
        <p class="swipe_text hide-desktop">&#8592;&nbsp;swipe the table below to view all content&nbsp;&#8594;</p>
        <p class="swipe_text show-desktop">&#8592;&nbsp;click on the table and use keyboard arrow keys&nbsp;&#8594;</p>
    </div>
    <div id="table-scroll">
        <table id="DisplayTable"></table>
    </div>
</div>


@section css {
    @Styles.Render("~/Content/Css/Tables/BuyerGodReportTable.css")   
}

@section scripts {
    @Scripts.Render("~/Content/Scripts/BuyerStockReport.js")
}
