@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (@ViewContext.ViewData.ModelState.IsValid)
    {
        ViewBag.Title = "Sales Overview";
    }
}
<h1 class="centeredText">Sales Overview</h1>
<h4 class="centeredText">Please select Day &amp; Currency</h4>
<div style="clear: both;"></div>
    <div class="day_currency_select">
    <select id="DayAmmount">
        <option value="1" selected="selected">1 Day</option>
        <option value="7">7 Days</option>
        <option value="14">14 Days</option>
        <option value="30">30 Days</option>
        <option value="60">60 Days</option>
    </select>

    @Html.DropDownList("CurrencyType")
</div>
     <div class="salesoverview_btn"><button class="generateButton_salesoverview" id="GenerateButton" onclick="GenerateSalesOverviewReport()">Generate Report</button></div>
        <a id="dlink" style="display:none;"></a>

        <div class="InvisibleDiv errorDiv" id="ErrorDiv">
            Please compleate required information
        </div>
        <div class="InvisibleDiv" id="LoadingDiv">
            <img src="~/Content/Images/ajax-loader.gif" />
        </div>

<div id="TableArea">
    <div id="swipe_text_wrap">
        <p class="swipe_text hide-desktop">&#8592;&nbsp;swipe to view full table&nbsp;&#8594;</p>
        <p class="swipe_text show-desktop">&#8592;&nbsp;click on the table and use keyboard arrow keys&nbsp;&#8594;</p>
    </div>
    <div id="table-scroll">
    <table id="DisplayTable1">
    </table>
     </div>

    <br/>
    <h2 class="Hidden" id="itemsSoldTitle">Items Sold Today</h2>
    <div id="table-scroll">
        <table id="DisplayTable2"></table>
        </div>
    </div>


@section css {
    @Styles.Render("~/Content/Css/Tables/SalesOverviewReportTable.css")   
}

@section scripts {
    @Scripts.Render("~/Content/Scripts/Reports.js")
    @Scripts.Render("~/Content/Scripts/SalesOverview.js")
}
