@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Welcome to hope.tools @ViewBag.FirstName  @ViewBag.Surname</h1>
@{

    if (@ViewBag.NewCustomer != "0" || @ViewBag.ExistingCustomers != "0" || @ViewBag.NewOrders != "0" || @ViewBag.TurnOver != "0.00")
    {
        <h1>Overview of today</h1>
    }
    if (@ViewBag.NewCustomer != "0")
    {
        <div><h3>New Customers: </h3><span>@ViewBag.NewCustomer</span></div>
    }
    if (@ViewBag.ExistingCustomers != "0")
    {
        <div><h3>Existing Customers: </h3><span>@ViewBag.ExistingCustomers</span></div>
    }
    if (@ViewBag.NewOrders != "0")
    {
        <div><h3>New Orders: </h3><span>@ViewBag.NewOrders</span></div>
    }
    if (@ViewBag.TurnOver != "0.00")
    {
        <div><h3>Ex Vat Turnover: </h3><span>@ViewBag.TurnOver</span></div>
    }
    }
