<!DOCTYPE html>
<html>
<head>
   
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)
    <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
    <div id="container">
        <div id="header"></div>
        <div id="body">
            <div id="MenuDiv">
                <div id="BannerDiv">
                    <img src="~/Content/Images/hope-tools.png" />
                </div>
                <div id="buttonDiv">
                    @Html.Raw(ViewBag.MenuHtml)
                </div>
            </div>
            <div id="MainDiv">
                @RenderBody()
            </div>
        </div>
        <div id="footer">Powered by hope:tools</div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
