@{
    ViewBag.Title = "Minutes";
}

<h2>Minutes</h2>
<div id="ErrorArea" class="HiddenDiv">

</div>

<div id="SelectionArea">
    <div id="Gui" class="HiddenDiv">@ViewBag.Gui</div>
    @ViewBag.note
    @Html.DropDownList("ActiveChannels")

    <br />
    <br />
    <div id="DateDiv" class="HiddenDiv">
        <input id="datePicker" type="date">
    </div>
    <br />
    <div id="HourDiv" class="HiddenDiv">
        <select id="HourSelect">
            <option value="A">Please Select One....</option>
            <option value="00">00:00</option>
            <option value="01">01:00</option>
            <option value="02">02:00</option>
            <option value="03">03:00</option>
            <option value="04">04:00</option>
            <option value="05">05:00</option>
            <option value="06">06:00</option>
            <option value="07">07:00</option>
            <option value="08">08:00</option>
            <option value="09">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
            <option value="20">20:00</option>
            <option value="21">21:00</option>
            <option value="22">22:00</option>
            <option value="23">23:00</option>
        </select>
    </div>
</div>
<br />

<div id="EditArea" class="HiddenDiv">
    @using (Html.BeginForm("Action", "Tv"))
    {
        <div class="HiddenDiv">
            @Html.TextBox("Date")
            @Html.TextBox("Hour")
            @Html.TextBox("Total")
            @Html.TextBox("ShowName")
            @Html.TextBox("Presenter")
            @Html.TextBox("Producer")
            @Html.TextBox("Gui")
        </div>
       <div class="show_details">
           <div class="details_pos">
               <h3>SHOW DETAILS</h3>
               <b>Show Name:</b>
               <div id="ShowNameDisplay"></div>
               <b>Total Sales for Hour: </b>
               <div id="ShowSales"></div>
               <b>Producer Name:</b><br />
               @Html.DropDownList("ActiveProducers")<br />
               <b>Presenter Name:</b><br />
               @Html.DropDownList("ActivePresenters")<br />
               <b>Director Name:</b><br />
               @Html.TextBox("Director")<br />
               <b>Floor Name:</b><br />
               @Html.TextBox("Floor")<br />
               <b>Guest Name:</b><br />
               @Html.TextBox("Guest")<br /><br />
           </div>
        </div>

        <b>Producer Notes</b><br />
        @Html.TextArea("ProducerNotes")<br />
        <b>Director Notes</b><br />
        @Html.TextArea("DirectorNotes")<br />
        <b>Floor Manager Notes</b><br />
        @Html.TextArea("FloorNotes")<br />
        <b>Going Forward</b><br />
        @Html.TextArea("ForwardNotes")<br />

        <div id="dualbtn_position">
            <input class="generateButton generateButton_dualbtn" type="submit" id="SaveNotesForm" class="generateButton_dualbtn" name="SaveNotesForm" value="Save" />
            <input class="generateButton generateButton_dualbtn" type="submit" id="SaveMinutesAndSend" class=".generateButton_dualbtn" name="SaveMinutesAndSend" value="Save And Send" onclick="clicked(event)" />
        </div>
    }
</div>





@section scripts {
    @Scripts.Render("~/Content/Scripts/Tv.js")
}
